doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title= config.title
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    meta(name="description", content="#{config.description}")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/lib/jquery-1.11.0.min.js")
    script(src="/js/main.js")
  body

    h1 Galletazo Clicker 3

    h2.cookieCounter

    div.cookieContainer.cf
        h3.title Can I haz Cookies?

        div.cookie

    div.UpgradesContainer
        h3.title Ño! que baraaato!

        ul.upgrades 
            li Auto Clicker
            li Abuela Enpingaa
            li Horno Mágico
            li Fábrica

        ul.upgradesCounters 
            li 0
            li 0
            li 0
            li 0 